.main {
  padding: 32px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
  list-style: none;
  display: flex;
  gap: 36px;
  align-items: center;
  width: 80vw;
  margin: auto;
  padding: 0;
}
